In [28]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
df=pd.read_csv(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Hackathon\COVID_19_Nursing_Home_Data_03_20_2022(3)\COVID_19_Nursing_Home_Data_03_20_2022(3)\COVID_19_Nursing_Home_Data_03_20_2022.csv')

C:\Users\rutuj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.columns

Index(['Week Ending', 'Federal Provider Number', 'Provider Name',
       'Provider Address', 'Provider City', 'Provider State',
       'Provider Zip Code', 'Provider Phone Number', 'County',
       'Submitted Data',
       ...
       'Number of Residents Staying in this Facility for At Least 1 Day This Week who Received a Moderna COVID-19 Vaccine Booster at Any Time',
       'Number of Residents Staying in this Facility for At Least 1 Day This Week who Received a Janssen COVID-19 Vaccine Booster at Any Time',
       'Number of Residents Staying in this Facility for At Least 1 Day This Week who Received an Unspecified COVID-19 Vaccine Booster at Any Time',
       'Number of Healthcare Personnel with a Completed Vaccination Staying in this Facility for At Least 1 Day This Week who Received a COVID-19 Vaccine Booster at Any Time',
       'Recent Percentage of Current Healthcare Personnel with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time',
       'Percentage of Current Healthcare Personnel with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time',
       'Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Pfizer-BioNTech COVID-19 Vaccine Booster at Any Time',
       'Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Moderna COVID-19 Vaccine Booster at Any Time',
       'Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Janssen COVID-19 Vaccine Booster at Any Time',
       'Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received an Unspecified COVID-19 Vaccine Booster at Any Time'],
      dtype='object', length=183)

In [4]:
df1=df[['Week Ending', 'Federal Provider Number', 'Provider Name',
       'Provider Address', 'Provider City', 'Provider State',
       'Provider Zip Code', 'Provider Phone Number', 'County',
        'Shortage of Nursing Staff','Shortage of Clinical Staff',
        'Shortage of Other Staff','Shortage of Aides'
       ]]

df1.dropna(inplace=True)

C:\Users\rutuj\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [5]:
df1.head()

,Week Ending,Federal Provider Number,Provider Name,Provider Address,Provider City,Provider State,Provider Zip Code,Provider Phone Number,County,Shortage of Nursing Staff,Shortage of Clinical Staff,Shortage of Other Staff,Shortage of Aides
0,2020-05-24,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,N,N,N,N
1,2020-05-31,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,N,N,N,N
2,2020-06-07,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,N,N,N,N
3,2020-06-14,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,N,N,N,N
4,2020-06-21,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,N,N,N,N

In [6]:
df3=df[['Federal Provider Number','Provider Name','Provider State']]
df3.head()
df4=df3.drop_duplicates()
df4.head()

,Federal Provider Number,Provider Name,Provider State
0,15009,"BURNS NURSING HOME, INC.",AL
96,15010,COOSA VALLEY HEALTHCARE CENTER,AL
192,15012,HIGHLANDS HEALTH AND REHAB,AL
288,15014,EASTVIEW REHABILITATION & HEALTHCARE CENTER,AL
384,15015,PLANTATION MANOR NURSING HOME,AL

In [15]:
state_wise_nursing_home_count=df4['Provider State'].value_counts().reset_index().rename(columns={'index':'Provider State','Provider State':'Count_of Nursin Home'})
state_wise_nursing_home_count.head()

  Provider State  Count_of Nursin Home
0             TX                  1234
1             CA                  1194
2             OH                   968
3             IL                   720
4             FL                   711

In [12]:
shortage_of_nursing_staff=df1.groupby(['Week Ending','Provider State','Shortage of Nursing Staff']).size().reset_index().rename(columns={0:'Count of Nursing Staff Shortage'})
shortage_of_nursing_staff=shortage_of_nursing_staff[shortage_of_nursing_staff['Shortage of Nursing Staff']=='Y']
shortage_of_nursing_staff.head()
#shortage_of_nursing_staff.shape

,Week Ending,Provider State,Shortage of Nursing Staff,Count of Nursing Staff Shortage
1,2020-05-24,AK,Y,4
3,2020-05-24,AL,Y,49
5,2020-05-24,AR,Y,18
7,2020-05-24,AZ,Y,12
9,2020-05-24,CA,Y,22

In [16]:
shortage_of_clinical_staff=df1.groupby(['Week Ending','Provider State','Shortage of Clinical Staff']).size().reset_index().rename(columns={0:'Count of Clinical Staff Shortage'})
shortage_of_clinical_staff=shortage_of_clinical_staff[shortage_of_clinical_staff['Shortage of Clinical Staff']=='Y']
shortage_of_clinical_staff.head()

,Week Ending,Provider State,Shortage of Clinical Staff,Count of Clinical Staff Shortage
1,2020-05-24,AK,Y,2
3,2020-05-24,AL,Y,6
5,2020-05-24,AR,Y,6
8,2020-05-24,CA,Y,5
10,2020-05-24,CO,Y,5

In [19]:
shortage_of_other_staff=df1.groupby(['Week Ending','Provider State','Shortage of Other Staff']).size().reset_index().rename(columns={0:'Count of other Staff Shortage'})
shortage_of_other_staff=shortage_of_other_staff[shortage_of_other_staff['Shortage of Other Staff']=='Y']
shortage_of_other_staff.head()

,Week Ending,Provider State,Shortage of Other Staff,Count of other Staff Shortage
1,2020-05-24,AK,Y,4
3,2020-05-24,AL,Y,27
5,2020-05-24,AR,Y,9
7,2020-05-24,AZ,Y,12
9,2020-05-24,CA,Y,13

In [26]:
shortage_of_aides_staff=df1.groupby(['Week Ending','Provider State','Shortage of Aides']).size().reset_index().rename(columns={0:'Count of Aides Shortage'})
shortage_of_aides_staff=shortage_of_aides_staff[shortage_of_aides_staff['Shortage of Aides']=='Y']
shortage_of_aides_staff.head()

  Week Ending Provider State Shortage of Aides  Count of Aides Shortage
1  2020-05-24             AK                 Y                        4
3  2020-05-24             AL                 Y                       56
5  2020-05-24             AR                 Y                       32
7  2020-05-24             AZ                 Y                       18
9  2020-05-24             CA                 Y                       33

In [29]:
dfs=[shortage_of_nursing_staff,shortage_of_other_staff,shortage_of_aides_staff,shortage_of_clinical_staff]
dataset_Q1=reduce(lambda left,right:pd.merge(left,right,on=['Week Ending','Provider State'],how='inner'),dfs)

In [31]:
dataset_Q1.head()

,Week Ending,Provider State,Shortage of Nursing Staff,Count of Nursing Staff Shortage,Shortage of Other Staff,Count of other Staff Shortage,Shortage of Aides,Count of Aides Shortage,Shortage of Clinical Staff,Count of Clinical Staff Shortage
0,2020-05-24,AK,Y,4,Y,4,Y,4,Y,2
1,2020-05-24,AL,Y,49,Y,27,Y,56,Y,6
2,2020-05-24,AR,Y,18,Y,9,Y,32,Y,6
3,2020-05-24,CA,Y,22,Y,13,Y,33,Y,5
4,2020-05-24,CO,Y,27,Y,18,Y,32,Y,5

In [32]:
dataset_shortage=pd.merge(dataset_Q1,state_wise_nursing_home_count,on='Provider State',how='inner')

In [33]:
dataset_shortage.head()

,Week Ending,Provider State,Shortage of Nursing Staff,Count of Nursing Staff Shortage,Shortage of Other Staff,Count of other Staff Shortage,Shortage of Aides,Count of Aides Shortage,Shortage of Clinical Staff,Count of Clinical Staff Shortage,Count_of Nursin Home
0,2020-05-24,AK,Y,4,Y,4,Y,4,Y,2,20
1,2020-06-28,AK,Y,5,Y,2,Y,4,Y,1,20
2,2020-07-12,AK,Y,6,Y,2,Y,5,Y,1,20
3,2020-07-19,AK,Y,6,Y,3,Y,7,Y,2,20
4,2020-08-16,AK,Y,3,Y,2,Y,6,Y,1,20

In [36]:
dataset_shortage['Shortage of Nursing Staff(%)']=(dataset_shortage['Count of Nursing Staff Shortage']/dataset_shortage['Count_of Nursin Home'])*100
dataset_shortage['Shortage of other Staff(%)']=(dataset_shortage['Count of other Staff Shortage']/dataset_shortage['Count_of Nursin Home'])*100
dataset_shortage['Shortage of Clinical Staff(%)']=(dataset_shortage['Count of Clinical Staff Shortage']/dataset_shortage['Count_of Nursin Home'])*100
dataset_shortage['Shortage of Aides (%)']=(dataset_shortage['Count of Aides Shortage']/dataset_shortage['Count_of Nursin Home'])*100

In [37]:
dataset_shortage.head()

,Week Ending,Provider State,Shortage of Nursing Staff,Count of Nursing Staff Shortage,Shortage of Other Staff,Count of other Staff Shortage,Shortage of Aides,Count of Aides Shortage,Shortage of Clinical Staff,Count of Clinical Staff Shortage,Count_of Nursin Home,Shortage of Nursing Staff(%),Shortage of other Staff(%),Shortage of Clinical Staff(%),Shortage of Aides (%)
0,2020-05-24,AK,Y,4,Y,4,Y,4,Y,2,20,20.0,20.0,10.0,20.0
1,2020-06-28,AK,Y,5,Y,2,Y,4,Y,1,20,25.0,10.0,5.0,20.0
2,2020-07-12,AK,Y,6,Y,2,Y,5,Y,1,20,30.0,10.0,5.0,25.0
3,2020-07-19,AK,Y,6,Y,3,Y,7,Y,2,20,30.0,15.0,10.0,35.0
4,2020-08-16,AK,Y,3,Y,2,Y,6,Y,1,20,15.0,10.0,5.0,30.0

In [38]:
dataset_shortage.to_csv(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Hackathon\COVID_19_Nursing_Home_Data_03_20_2022(3)\dataset_Q1.csv')